.about-jovi-sec {
    padding: 70px 0;
}

.about-jovi-sec .left-col {
    padding-right: 50px;
}

.about-jovi-sec .right-col {
    padding-left: 30px;
}

.about-con .main {
    width: 75%;
    font-weight: 500;
}

.about-con .stats {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-con .stats .each {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

.about-con .stats .each .nums {
    width: 2em;
    padding-right: 2em;
    font-size: 70px;
    font-weight: 600;
}

.about-con .stats .each .border-between {
    border-right: 2px solid #bbbaba !important;
    height: 35px;
}

.about-con .stats .each .text {
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
}

.about-img-text {
    bottom: 25px;
    left: 40px;
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    max-width: 300px;
    text-transform: capitalize;
}

.about-img-cont img {
    border-radius: 32px;
}

/* =============================================
   Responsive
   ============================================= */
@media (max-width: 991px) {
    .about-jovi-sec {
        padding: 90px 0;
    }

    .about-jovi-sec .left-col,
    .about-jovi-sec .right-col {
        padding: 0px 12px;
    }

    .about-con .main {
        width: 100%;
    }

    .about-con .stats {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .about-con .stats .each {
        gap: 30px;
    }

    .about-con .stats .each .nums {
        font-size: 50px;
    }

    .about-con .stats .each .text {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .about-jovi-sec {
        padding: 60px 0;
    }

    .about-con h4 {
        font-size: 22px;
    }

    .about-con .main {
        font-size: 16px;
    }

    .about-con p {
        font-size: 16px;
    }

    .about-con .stats {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .about-con .stats .each .nums {
        font-size: 40px;
        padding-right: 4.5rem;
        width: 4.5rem;
    }

    .about-con .stats .each .text {
        font-size: 16px;
    }
}