/* Base/Layout */
.contact-section {
	padding: 100px 0px;
}

.contact-section .container {
	border-radius: 15px;
	background-color: #1a2b4f;
	padding: 70px 40px 80px;
}

.contact-details-cont {
	row-gap: 90px;
}

.jovi-contact-row {
	grid-template-columns: 1fr 1fr;
}

.jovi-contact-block {
	border-radius: 12px;
	align-items: stretch;
}

.jovi-map-container {
	min-height: 350px;
	flex: 1;
}

.jovi-map-container iframe {
	border-radius: 15px;
	width: 100%;
	height: 100%;
}

/* Typography */
.jovi-subhead {
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.contact-section p {
	font-size: 20px;
	letter-spacing: 0.9px;
	line-height: 1.5;
	margin: 15px 0 80px 0;
}

.jovi-location-title {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 20px;
	color: #1a2b4f;
}

.jovi-info-title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 5px;
}

.jovi-info-content {
	color: #333;
}

/* Components */
.jovi-contact-details {
	padding: 60px 40px;
	background-color: #ffffff;
	border-radius: 15px;
}

.jovi-info-item {
	gap: 20px;
	margin-bottom: 20px;
	align-items: center;
}

.jovi-icon-box img {
	width: 40px;
	height: 40px;
}

/* Interactive Elements */
.jovi-info-link {
	text-decoration: none;
	color: #1a2b4f;
	font-size: 16px;
}

.jovi-info-link:hover {
	text-decoration: underline;
}

/* =============================================
    Responsive
    ============================================= */
@media (max-width: 991px) {
	.contact-section {
		padding: 90px 0px;
	}

	.contact-section .container {
		padding: 60px 30px;
	}

	.contact-section.jovi-subhead {
		font-size: 18px;
	}

	.contact-section.main-h2 {
		font-size: 36px;
	}

	.contact-section p {
		font-size: 18px;
		margin: 10px 0 60px 0;
	}

	.contact-details-cont {
		row-gap: 50px;
	}

	.jovi-contact-row {
		grid-template-columns: 1fr 1fr;
		gap: 30px;
	}

	.jovi-contact-details {
		padding: 35px 25px;
	}

	.jovi-location-title {
		font-size: 24px;
	}

	.jovi-info-title {
		font-size: 16px;
	}

	.jovi-info-link {
		font-size: 14px;
	}

	.jovi-icon-box img {
		width: 35px;
		height: 35px;
	}

	.jovi-map-container {
		min-height: 300px;
	}
}

@media (max-width: 767px) {
	.jovi-subhead {
		font-size: 18px;
	}
	
	.contact-section {
		padding: 60px 20px;
	}

	.contact-section .container {
		padding: 50px 25px;
	}

	.contact-section .main-h2 {
		font-size: 25px;
	}

	.contact-section p {
		font-size: 12px;
		margin: 15px 0 40px 0;
	}

	.contact-details-cont {
		row-gap: 50px;
	}

	.contact-details-cont .jovi-contact-row {
		grid-template-columns: 1fr;
		gap: 30px;
	}

	.jovi-contact-details {
		order: 0 !important;
	}

	.jovi-map-container {
		min-height: 250px;
		order: 1 !important;
	}

	.jovi-location-title {
		font-size: 22px;
	}

	.jovi-info-title {
		font-size: 14px;
	}

	.jovi-info-link {
		font-size: 13px;
	}

	.jovi-icon-box img {
		width: 30px;
		height: 30px;
	}
}