.about-banner {
    background-image: url('../../../assets/Images/about-banner.png');
    background-size: cover;
    background-position: center;
    min-height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about-banner-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    padding: 0 20px;
}

/* =============================================
    Responsive
    ============================================= */
@media (max-width: 991px) {
    .about-banner {
        min-height: 280px;
    }

}

@media (max-width: 767px) {
    .about-banner {
        min-height: 250px;
    }
}