.jovi-form {
    max-width: 480px;
    padding: 60px 40px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.155);
}

.jovi-heading {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 15px;
    color: #0D1835;
}

.jovi-subtext {
    font-size: 15px;
    font-weight: 400;
    color: #0D1835;
    margin-bottom: 70px;
}

.jovi-subtext a {
    color: #0244C0;
    text-decoration: none;
}

.login-form {
    width: 100%;
}

.jovi-form .form-group {
    text-align: left;
    margin-bottom: 23px;
}

.jovi-form .form-group label {
    font-size: 14px;
    display: block;
    font-weight: 500;
    margin-bottom: 6px;
    color: #0D1835;
}

.jovi-form .form-group input {
    height: 46px;
    width: 100%;
    padding: 10px 14px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.social-separator {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    margin-top: 60px;
}

.social-separator hr {
    width: 100%;
    border: none;
    border-top: 1px solid #0244C0;
    margin: 0;
    opacity: 0.3;
}

.continue-btn {
    cursor: pointer;
}

/* =============================================
   Responsive
   ============================================= */

@media (max-width: 991px) {
    .jovi-subtext {
        margin-bottom: 50px;
    }
    
    .continue-btn {
        font-size: 15px;
        padding: 12px;
    }
}

@media (max-width: 767px) {
    .jovi-form {
        padding: 55px 30px;
    }

    .jovi-heading {
        font-size: 22px;
    }

    .jovi-subtext {
        font-size: 12px;
        margin-bottom: 40px;
    }

    .jovi-form .form-group input {
        height: 40px;
        font-size: 13px;
    }

    .social-separator {
        margin-top: 40px;
    }

    .continue-btn {
        font-size: 14px;
        padding: 10px;
    }
}